@media (max-width: 991px) {
  /* custom css */
  section {
    padding: 30px 0;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    font-size: 20px;
  }

  /* 2 Navbar */
  .header-scrolled {
    height: auto;
  }

  .header_wrapper .menu-navbar-nav {
    text-align: center;
    background-color: var(--bg-dark-black);
    padding-bottom: 15px;
  }

  .header_wrapper .nav-item .nav-link {
    margin-top: 10px;
  }

  /* 3. Banner */
  .banner_wrapper {
    padding: 200px 0;
  }

  /* 4. About  */
  .about_wrapper ul.nav-pills{
    width: 42%;
    margin: auto;
  }

 
  /* 6. Portfolio  */
  .portfolio_wrapper .card{
    min-height: 400px;
  }
}


@media (max-width: 767px) {
  /* custom css */
  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 13px;
    line-height: 24px;
  }

  .about_wrapper ul.nav-pills{
    width: 100%;
    margin: auto;
    border: 0;
  }

  .about_wrapper ul li .nav-link{
    font-size: 13px;
  }

  .about_wrapper .container .about-image{
    text-align: center;
  }

   /* 6. Portfolio  */
  .portfolio_wrapper .card{
    min-height: 400px;
  }
}
